.project__top-block {
    width: 100%;
    height: 120px;
    margin-bottom: 36px;
}

.project-people {
    height: 32px;
    display: flex;
    position: relative;
    max-width: 182px;

    > .people-link-avatars {
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        transition: all .25s ease-in-out;    

        &:hover {
            width: 34px;
            height: 34px;
            z-index: 10;
            margin-top: -1px;
            transition: all .25s ease-in-out;    
        }

        > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid var(--blue);
        }
    }

    > .people-link-all {
        align-self: flex-end;
        display: block;
        position: absolute;
        right: 0;
        font-size: 14px;
        color: var(--grey);
        text-decoration: underline;
    }

    > .add-user {
        background: transparent;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        cursor: pointer;
        border: none;
        color: #7a869a;
        background: var(--greyish);
        position: absolute;
        right: -40px;
        padding-right: 1px;
        padding-top: 2px;
        transition: all .25s ease-in-out;    

        &:hover {
            transition: all .25s ease-in-out;    
            background: var(--grey-border);

        }
    }
    
}