@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/pagination";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.projects-panel {
    width: calc(100% + 32px);
    height: 206px;
    background: var(--whiteish);
    margin-left: -32px;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        padding-bottom: 8px;
        background: white;
        padding-left: 40px;

        > h3 {
            color: var(--darkblue);
            font-weight: 600;
            font-size: 140%;
        }

        > a {
            margin-top: 8px;
        }
    }

    &__slide {
        width: 190px;
        height: 156px;
        margin: 6px;
        border: 1px solid var(--grey-border);
        background: white;
        border-radius: 3px;
        padding: 6px;

        &:first-child {
            margin-left: 38px;
        }
    }

    &__swiper-slide {
        width: 174px;
        height: 100%;
    }

    &__swiper-wrapper {
        position: relative;
        height: 100%;
        width: 100%;

        &__right,
        &__left {
            width: 40px;
            margin-top: 6px;
            height: 156px;
            position: absolute;
            display: flex;
            z-index: 100;
            top: 0;
        }
    
        &__left {
            left: 0;
            background: linear-gradient(to right, white 0,rgba(255,255,255,0) 100%);
        }
    
        &__right {
            right: 0;
            background: linear-gradient(to left, white 0,rgba(255,255,255,0) 100%);
        }
        
    }
}